<app-navbar-one></app-navbar-one>

<div class="page-title-area margin-atas-page">
    <div class="d-table">
        <div class="d-table-cell">
            <div class="container">
                <div class="page-title-content">
                    <h1>List of Winners</h1>
                    <ul>
                        <li>
                            <a routerLink="/">Home</a>
                        </li>
                        <li>List of Winners</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
<section class="low-section">
    <div class="container">
        <div class="section-internal">
            <div>
                <h1>List of Winners</h1>
                <h4 class="mb-3">
                    Select by the year of the event you are participating in
                </h4>
            </div>
            <div
                class="row text-center fw-bold"
                data-wow-delay="0.3s"
                data-wow-duration="1500ms"
            >
                <!-- Start Button -->
                <a
                    href="https://drive.google.com/drive/folders/1w7cF2LZh3qNKUkAlqArrX21EbpGhl2QP?usp=sharing"
                    target="_blank"
                    class="btn-low m-1 col m-3"
                    >2025</a
                >
                <a routerLink="/kategori24" class="btn-low m-1 col m-3">2024</a>
                <a routerLink="/kategori23" class="btn-low m-1 col m-3">2023</a>
                <a
                    href="https://drive.google.com/file/d/17n2YWQ2LnnKhQm1WNhi02-xbKLJoznUO/view?usp=sharing"
                    target="_blank"
                    class="btn-low m-1 col m-3"
                    >2022</a
                >
                <!-- End Button -->
            </div>
        </div>
    </div>
</section>
