<app-navbar-one></app-navbar-one>

<div class="page-title-area margin-atas-page">
    <div class="d-table">
        <div class="d-table-cell">
            <div class="container">
                <div class="page-title-content">
                    <ul>
                        <li>
                            <a routerLink="/">Home</a>
                        </li>
                        <li>News</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Start News Area -->
<section id="News" class="News-area uk-section">
    <div class="container">
        <h1 class="text-center uk-text-bold mt-5"> News 2023</h1>
        <div class="uk-grid ">
            <div class="card uk-item">
                <a class="" href="News1">
                    <img src="../../../../assets/img/news/UNSOED.WebP" alt="">
                    <div class="card-body">
                        <h5>UNSOED Delegation Wins I3O International IoT Olympiad 2023 Medals</h5>
                        <p>
                            Another proud achievement was presented by students of Jenderal Soedirman University (UNSOED) at the international level. This time at a prestigious event smelling of industrial revolution 4.0, namely the Indonesia International IoT Olympiad (I3O) 2023.
                        </p>
                        <a href="News1" class="details-btn uk-button-primary">Detail</a>
                    </div>
                </a>
            </div>
            <div class="card uk-item">
                <a class="" href="News2">
                    <img src="../../../../assets/img/news/13NegaraDiI3O.WebP" alt="">
                    <div class="card-body">
                        <h5>A total of 13 countries participated in the IoT International Olympiad</h5>
                        <p>
                            A total of 13 countries took part in the Indonesia International Internet of Things Olympiad 2023 which will be held from 13 – 17 June 2023 at Syiah Kuala University (USK)."USK feels proud and grateful for being trusted by the International Youth Scientist Association (IYSA) to host an international event like this.
                        </p>
                        <a href="News2" class="details-btn uk-button-primary">Detail</a>
                    </div>
                </a>
            </div>
            <div class="card uk-item">
                <a class="" href="News3">
                    <img src="../../../../assets/img/news/IYSAsuksesdiAceh.WebP" alt="">
                    <div class="card-body">
                        <h5>Being the First Event in Aceh, IYSA Successfully Held I3O 2023</h5>
                        <p>
                            The Indonesian Young Scientist Association (IYSA) created a special event in the field of Internet of Things (IoT), namely the Indonesia International IoT Olympiad (I3O) in 2023. This is the second event held by IYSA to find and bring up various innovations from young researchers in the field of IoT that will definitely be useful in the future.
                        </p>
                        <a href="News3" class="details-btn uk-button-primary">Detail</a>
                    </div>
                </a>
            </div>
        </div>
    </div>
    <!-- <div class="container">
        <h1 class="text-center uk-text-bold"> News 2022</h1>
        <div class="uk-grid ">
            <div class="card uk-item">
                <a class="" href="news4">
                    <img src="../../../../assets/img/news/UNDIPNews.WebP" alt="">
                    <div class="card-body">
                        <h5>UNDIP Medical Students Win Gold Medal Indonesia International Invention Expo (IIIEX) 2022
                        </h5>
                        <p>A proud achievement was achieved by five students of the Medical Study Program at the
                            Indonesia
                            International Invention Expo (IIIEX)</p>
                        <a href="news4" class="details-btn uk-button-primary">Detail</a>
                    </div>
                </a>
            </div>
            <div class="card uk-item">
                <a class="" href="news5">
                    <img src="../../../../assets/img/news/UNDIKSHANews.WebP" alt="">
                    <div class="card-body">
                        <h5>Raising the Issue of "Pecalang Segara", Undiksha Team Wins Silver Medal at IIIEX Event</h5>
                        <p>Singaraja- International level achievements were again achieved by students of Universitas
                            Pendidikan Ganesha (Undiksha). This time, it came from the Indonesia International Invention
                            Expo (IIIEX 2022) which took place at Semarang State University on October 15, 2022.</p>
                        <a href="news5" class="details-btn uk-button-primary">Detail</a>
                    </div>
                </a>
            </div>
            <div class="card uk-item">
                <a class="" href="news6">
                    <img src="../../../../assets/img/news/UADNews.WebP" alt="">
                    <div class="card-body">
                        <h5>UAD Team Wins Gold Medal and Special Award at IIIEX 2022 Event</h5>
                        <p>The student team from the Chemical Engineering Study Program of Universitas Ahmad Dahlan
                            (UAD)
                            successfully won a gold medal and a special award from the Malaysia Innovation Invention
                            Creativity Association (MIICA) at the Indonesia International Invention Expo (IIIEX) 2022.
                        </p>
                        <a href="news6" class="details-btn uk-button-primary">Detail</a>
                    </div>
                </a>
            </div>
        </div>
    </div> -->
</section>
<!-- End News Area -->
