<app-navbar-one></app-navbar-one>

<div class="page-title-area margin-atas-page">
    <div class="d-table">
        <div class="d-table-cell">
            <div class="container">
                <div class="page-title-content">
                    <h1>Certificate Supervisor 2026</h1>
                    <ul>
                        <li>
                            <a routerLink="/">Home</a>
                        </li>
                        <li>Certificate Supervisor 2026</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
<section class="low-section ptb-70">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-8 col-md-12">
                <div class="certificate-card wow fadeInUp" data-wow-delay="0.3s" data-wow-duration="1500ms">
                    <div class="card-icon">
                        <i class="fa fa-graduation-cap"></i>
                    </div>
                    <h2>Certificate Supervisor 2026</h2>
                    <p class="mb-4">
                        Please choose the certificate category based on how you participated in the event.
                    </p>
                    <div class="btn-container mt-4">
                        <!-- Start Button -->
                        <a href="https://drive.google.com/drive/folders/1C03iFC06q2hh616IWtYnt3m5igCDhxM2?usp=sharing" 
                           class="btn-certificate btn-online" target="_blank">
                            <i class="fa fa-globe"></i> ONLINE
                        </a>
                        <a href="https://drive.google.com/drive/folders/1csoxMBv5VEoGXRi9YI5MgmkARcoWpWGM?usp=sharing" 
                           class="btn-certificate btn-offline" target="_blank">
                            <i class="fa fa-users"></i> OFFLINE
                        </a>
                        <!-- End Button -->
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
